.passwordInput {
    background: transparent;
    color: #a19f9f;
    padding: 8px 16px;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 500;
}

.passwordInput::placeholder {
    color: #bdbdbd;
}
